<section class="w-full h-full bg-white flex flex-col px-[12px] gap-y-[16px]">
  <div class="profile-card">
    <!-- User Info -->
    <div class="mx-2">
      <h6 class="role">
        Oluwaseun Adesina
      </h6>
      <span class="email">
        {{'desinaoluseun@gmail.com'}}
      </span>
    </div>
  </div>

  <ul class="flex flex-col gap-y-[12px] cursor-pointer">
    <!-- Routes -->
    @for (route of routes; track route._id) {
    <li [routerLink]="[route.link]" routerLinkActive="active"
      class="flex p-4 items-center hover:rounded-full hover:bg-secondary hover:text-primary">
      <span class="px-2">
        {{route.title}}
      </span>
    </li>
    }
  </ul>

  <hr>
</section>
